<%- include("partials/header.ejs") %>

    <div class="mainContainer">
        <%- include("partials/aside.ejs") %>

            <main>
                <% if (locals.posts.length==0) { %>
                    <div class="noPostMsg">
                        <iframe src="https://giphy.com/embed/I2nZMy0sI0ySA" width="480" height="372" frameBorder="0"
                        class="giphy-embed" allowFullScreen></iframe>
                        <h1>There are no posts yet.</h1>
                        <p>Why don't you create a new one?</p>
                    </div>
                <% } else if (locals.post) { %>
                    <div class="post">
                        <h1 id="post-title">
                            <%= post.title %>
                        </h1>
                        <p id="post-date">
                            <%= post.date %>
                                <%= post.time %>
                        </p>
                        <hr>
                        <p id="post-content">
                            <%= post.content %>
                        </p>
                    </div>

                    <br>
                    <form action="/edit" method="POST" class="formForBtn">
                        <input type="hidden" name="id" value="<%= post.id %>">
                        <input type="submit" value="Edit" class="btn">
                    </form>

                    <form action="/deleteBackend" method="POST" class="formForBtn">
                        <input type="hidden" name="id" value="<%= post.id %>">
                        <input type="submit" value="Delete" class="btn">
                    </form>
                <% } else %>
            </main>

    </div> <!-- mainContainer -->

    <%- include("partials/footer.ejs") %>
    